h3 {
    padding-top: 20px; padding-bottom: 20px;
    text-align: center;
}

.table{
    text-align: center;
    border : 1px solid black;
    border-collapse: separate;
}

.table th {
    text-align: center;
}

.table-active td, .table-success td, .table-warning td, .table-danger td{
    background-color: white;
}

.pagination {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.pagination li {
    display: inline-block;
}

.buttonCenter{
    position: absolute;
    bottom : 16px;
    right: 14px;
}

.buttonCenter2 {
    position: absolute;
    bottom : 16px;
    right: 112px;
    background-color: blueviolet;
    color: cornsilk;
}

.mainSearch{
    list-style: none;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.mainSearch li{
    display: inline;
}

.chat_View {
    width : 100%;
    height: 800px;
    resize: none;
    display: block;
}

#chatSend {
    text-align: center;
}

.message {
    width : 50%;
    display: inline;
}
